.grid-container {
  display: flex;
  justify-content: center;  
  align-items: center;      
  min-height: 100vh;        
  flex-direction: column;    
  background-color: #f4f4f4; 
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 30px); 
  grid-template-rows: repeat(20, 30px);    
  gap: 2px;                               
  margin-bottom: 20px;                    
}

.cell {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border: 1px solid black;
  transition: background-color 0.3s ease;
}


.start {
  background-color: #28a745; 
}

.end {
  background-color: #dc3545; 
}

.path {
  background-color: #007bff; 
}

.obstacle {
  background-color: black; 
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  font-family: 'Arial', sans-serif;
}

button:nth-child(2) {
  background-color: #28a745;
  color: white;
}

button:nth-child(2):hover {
  background-color: #218838;
}

button:nth-child(3) {
  background-color: #dc3545;
  
}

button:nth-child(3):hover {
  background-color: #c82333;
}
